@use 'fonts' as *;

h1 {
    font-size: var(--fs-800);
    font-family: var(--ff-primary);
}

h2 {
    font-size: var(--fs-700);
    font-family: var(--ff-primary);
}

p {
    font-size: var(--fs-400);
    font-family: var(--ff-primary);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: var(--clr-primary-light-gray);
}