.visuallyhidden {
    display: none;
}

.center-internal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.stop-scrolling {
    position: fixed;
}

.hl {
    background: #ffc600;
}