
.main-button {
    background-color: var(--clr-primary-red);
    color: var(--clr-primary-white);
    border: none;
    transition: .3s;
    width: 10em;
    padding: .25em 0;
    text-transform: uppercase;
    font-size: var(--fs-400);
    font-family: var(--ff-primary);
    font-weight: bold;
}

.main-button:hover {
    background-color: var(--clr-primary-light-gray);
    color: var(--clr-primary-gray);
    cursor: pointer;
}