@use "../abstracts/mixins" as *;

footer {
    background-color: var(--clr-primary-gray);
}

footer>ul>li>a {
    font-size: var(--fs-300);
    font-family: var(--ff-primary);
    color: var(--clr-primary-white);
}

@include mq(small) {
    footer>ul {
        align-content: center;
        justify-content: center;
    }
}