.two-column-grid {
   display: grid;
   gap: 0;
   grid-template-columns: repeat(2, 1fr);
   width: min(100%, 2800px);
   padding: 0;
}

.three-column-grid {
   display: grid;
   gap: 0;
   grid-template-columns: repeat(3, 1fr);
   width: min(100%, 2800px);
   padding: 0;
}