nav {
    background-color: var(--clr-primary-gray);
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    max-height: 4em;
}

nav>ul {
    display: flex;
    list-style: none;
    padding: 0;
    width: 40%;
}

nav>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav>ul>li>a {
    margin: 0 1em;
    font-size: var(--fs-300);
    font-family: var(--ff-primary);
    color: var(--clr-primary-white);
}

#nav-logo {
    width: 7em;
    align-self: center;
    justify-self: center;
}

.nav-right {
    justify-content: end;
}