
// Header

#primary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: relative;
    background-color: var(--clr-primary-gray);
    padding: 0 2em;
}

#nav-logo {
    width: 7em;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

// Navigation - Desktop

#primary-navigation {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.right-nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.right-nav-cta {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.mobile-nav-toggle {
    display: none;
}

// Navigation - Mobile

@media (max-width: 52em) {
    #primary-header {
        flex-direction: column-reverse;
        justify-content: start;
    }

    #primary-navigation {
        flex-direction: column;
        
    }

    .nav-bar {
        width: 100%;
        position: fixed;
        inset: 4.7rem 0 0 0;
        background-color: steelblue;
        transform: translatex(100%);
        overflow: hidden;
        transition: transform 350ms ease-out;
    }

    .nav-bar[data-visible="true"] {
        transform: translatex(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        z-index: 9999;
        background-color: transparent;
        border: none;
    }

    #nav-logo {
        position: static;
        top: initial;
        right: initial;
        transform: none;
    }

    .right-nav {
        background-color: var(--clr-primary-gray);
        width: 100vw;
        height: fit-content;
        justify-content: space-between;
        padding: 1em 4.25em 1em 1em;
    }

    .mobile-nav-toggle > i {
        color: white;
    }
}