.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.suggestions-parent {
    position: relative;
    width: 100%;
}

.suggestions {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden scroll;
    max-height: 300px;
    //border: 1px solid black;
}

.suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
}