
// New Product Section

#new-product-section {
    width: 100%;
    height: 580px;
}


// Advantages Section

#advantages-section {
    height: 580px;
}

.lead-times{
    background-color: yellow;
}

.custom-solutions {
    background-color: red;
}

// Made in America Section

#usa-section {
    width: 100%;
    height: 580px;
}

#gauges-section {
    height: 580px;
}