
// New Product Section

#new-product-section {
    width: 100%;
    height: 580px;
}


// Advantages Section

#advantages-section {
    width: 100%;
}

.lead-times{
    background-color: yellow;
}

.custom-solutions {
    background-color: red;
}