@use '../abstracts/mixins' as *;

// New Product Section

#new-product-section {
    width: 100%;
    height: 580px;
    background: url('/src/images/background/18-ga-new-photo.jpg') var(--clr-primary-gray);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#new-product-section > h2 {
    @include text-shadow();
}


// Advantages Section

#advantages-section {
    height: 580px;
}

.lead-times{
    background-image: url('/src/images/background/quick-ship.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.custom-solutions {
    background-image: url('/src/images/background/custom-section.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Made in America Section

#usa-section {
    width: 100%;
    height: 580px;
    background-image: url('/src/images/background/made-in-america.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Gauges Section

#gauges-section {
    height: 580px;
}

.gauges-18 {
    background-image: url('/src/images/background/46-243-P_RAL9005_front-open_black.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gauges-14 {
    background-image: url('/src/images/background/46-243-L_RAL7037_front-open_dusty-gray.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.gauges-12 {
    background-image: url('/src/images/background/46-244_RAL7024_front-open_dark-gray.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}